# Created by .ignore support plugin (hsz.mobi)
### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# external packages folder
vendor/

将删除 .gitignore
将删除 .idea/
将删除 .vscode/
将删除 bin/
将删除 hello_world
将删除 pkg/
将忽略仓库 src/sourcegraph.com/sqs/goreturns
将忽略仓库 src/github.com/lukehoban/go-outline
将忽略仓库 src/github.com/golang/lint
将忽略仓库 src/github.com/nsf/gocode
将忽略仓库 src/github.com/newhook/go-symbols
将忽略仓库 src/github.com/rogpeppe/godef
将忽略仓库 src/github.com/tpng/gopkgs
将删除 src/golang.org
